<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:reader-beans.properties"/>
    </bean>
    <bean name="readService" class="com.wei.test.ReadService">
        <constructor-arg ref="stringReader"/>
        <property name="fileName" value="hello.txt"/>
        <property name="properties">
            <list>
                <value>hello</value>
                <value>This</value>
                <value>is test</value>
            </list>
        </property>
    </bean>
    <bean name="fileReader" class="com.wei.test.FileReader">
        <constructor-arg value="src/main/resources/myfile.txt"/>
    </bean>

    <bean name="stringReader" class="com.wei.test.StringReader">
        <constructor-arg value="${string-content}"/>
    </bean>
    <bean name="testReader" class="com.wei.test.TestReader">
        <constructor-arg value="10"/>
    </bean>
    <bean name="testService" class="com.wei.test.TestService">
        <constructor-arg ref="testReader"/>
    </bean>
    <bean name="factoryTest" class="com.wei.test.FactoryMothodTest" factory-method="helloIndex">

    </bean>
</beans>