<component name="ArtifactManager">
  <artifact type="war" name="springMVC_HelloWorld:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springMVC_HelloWorld.war">
      <element id="artifact" artifact-name="springMVC_HelloWorld:war exploded" />
    </root>
  </artifact>
</component>